@import url("https://use.typekit.net/chp7rex.css");

html {
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    padding: 20px 0 20px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    font-family: 'Paralucent', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    
}

#logo {
    font-size: 40px;
    font-weight: 800;
}



#nav {
    display: flex;
    width: 300px;
    margin: auto 20px auto auto;
    justify-content: space-around;
}

.nav-link{
    color: inherit;
    text-decoration: none;
}

#navbar a:hover {
    color: #F29A51;
}

#nav a:hover {
    color: #F29A51;
}

body {
    margin: 0;
    font-family: 'Paralucent', sans-serif;
    color: #29347A;
}

#welcome-section {
    width: 100%;
    height: 100vh;
    font-size: 50px;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#projects {
    padding: 80px 0 100px 0;
    display: grid;
    grid-template: repeat(2, 360px) / repeat(4, 1fr);
    gap: 5px;
}

.project-tile {
    background-color: #C6DCED;
    font-size: 70px;
}

.project-tile p {
    text-align: center;
    padding-top: 15%;
}

.work-link {
    color: inherit;
    text-decoration: none;
    color: #F29A51;
}

.image {
    width: 100%;
    height: 100%;
}

#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

#footer-1{
    width: 100%;
}

#footer-1 p{
    padding-left: 20px;

}

hr {
    width: 97%;
    opacity: 0.4
}

@media (max-width: 450px) {
    #nav {
        display: flex;
        width: 250px;
        margin: auto 20px auto auto;
        justify-content: space-around;
    }

    #welcome-section {
        font-size: 35px;
        flex-direction: column;
    }

    #projects {
        display: grid;
        grid-template: 300px/ 1fr;
    }
    .project-tile {
        background-color: #C6DCED;
    }
    .project-tile p {
        text-align: center;
        font-size: 30px;
    }

    #contact {
        font-size: 16px;
    }

    #footer-1 p{
        text-align: center;
    }


    hr {
        width: 90%;
        opacity: 0.3;
    }

}
